/* ====== BY ELEMENT ====== */
body {	
  background: -webkit-gradient(linear, 0 100%, 0 0, from(hsla(213, 28%, 30%, .4)), to(hsla(213, 28%, 30%, .4))), url(../images/bg-tweed.png) repeat;
  background: -webkit-linear-gradient(90deg, hsla(213, 28%, 30%, .4) 0%, hsla(213, 28%, 30%, .4) 100%), url(../images/bg-tweed.png) repeat;
  background: -moz-linear-gradient(90deg, hsla(213, 28%, 30%, .4) 0%, hsla(213, 28%, 30%, .4) 100%), url(../images/bg-tweed.png) repeat;
  background: -o-linear-gradient(90deg, hsla(213, 28%, 30%, .4) 0%, hsla(213, 28%, 30%, .4) 100%), url(../images/bg-tweed.png) repeat;
  background: linear-gradient(90deg, hsla(213, 28%, 30%, .4) 0%, hsla(213, 28%, 30%, .4) 100%), url(../images/bg-tweed.png) repeat;
}

/* ================================ HEADER ================================= */
.main-header {
	z-index: 50;
	position: relative;
	height: 90px;
	background: url(../images/bg-header.png) bottom repeat-x;
   	box-shadow: 0 0 12px 6px hsla(0, 0%, 0%, .5);
}

/* ====== HEADER ====== */
.main-header, .main-header a {
	text-decoration: underline;
	color: hsl(212, 24%, 70%);
}

.main-header a:hover {
	color: white;
}

.vendor-logo {
	float: left;
	height: 74px;
	padding: 3px 0 0 40px;
	margin-right: 5px;
	opacity: .8;
}

.sidekick-logo {
	float: right;
	height: 116px;
	padding-right: 7px;
}

.main-header .wrapper {
	float: left;
	padding-top: 10px;
	padding-left: 5px;
}

.main-header .connection-details p {
	font-size: 12px;
	text-align: left;
}

.main-header .nav1 a {
	font-size: 12px;
}
 
.main-header .nav2 {
	float: right;
	margin: 40px 5px 0 0;
	border: 1px solid white;
	border-bottom: 1px solid hsl(204, 73%, 32%);
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	background: -webkit-gradient(linear, 0 100%, 0 0, from(hsla(204, 73%, 32%, 1)), color-stop(0.3, hsla(204, 73%, 32%, .5)), color-stop(0.85, hsla(204, 73%, 32%, 0)));
	background: -webkit-linear-gradient(90deg, hsla(204, 73%, 32%, 1) 0%, hsla(204, 73%, 32%, .5) 30%, hsla(204, 73%, 32%, 0) 85%);
	background: -moz-linear-gradient(90deg, hsla(204, 73%, 32%, 1) 0%, hsla(204, 73%, 32%, .5) 30%, hsla(204, 73%, 32%, 0) 85%);
	background: -o-linear-gradient(90deg, hsla(204, 73%, 32%, 1) 0%, hsla(204, 73%, 32%, .5) 30%, hsla(204, 73%, 32%, 0) 85%);
	background: linear-gradient(0deg, hsla(204, 73%, 32%, 1) 0%, hsla(204, 73%, 32%, .5) 30%, hsla(204, 73%, 32%, 0) 85%);
}

.main-header .nav2 li {
	padding: 0;
	border-right: 1px solid hsl(204, 74%, 30.5%);
}

.main-header .nav2 .seperator {
	width: 1px;
	height: 40px;
	/*background: -moz-linear-gradient(90deg, hsla(204, 73%, 15%, 0) 10%, hsla(204, 73%, 10%, .8) 50%, hsla(204, 73%, 10%, .8) 50%, hsla(204, 73%, 10%, 0) 90%);*/
	/*background: -moz-linear-gradient(90deg, hsla(204, 73%, 55%, 0) 10%, hsla(204, 73%, 55%, .8) 50%, hsla(204, 73%, 55%, .8) 50%, hsla(204, 73%, 55%, 0) 90%);*/
}

.main-header .nav2 a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 115px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: hsl(217, 100%, 95%);
}

.main-header .nav2 a:hover {
	background: -webkit-gradient(linear, 0 100%, 0 0, from(hsla(204, 73%, 32%, 1)), color-stop(0.85, hsla(204, 73%, 32%, .5)));
	background: -webkit-linear-gradient(90deg, hsla(204, 73%, 32%, 1) 0%, hsla(204, 73%, 32%, .5) 85%);
	background: -moz-linear-gradient(90deg, hsla(204, 73%, 32%, 1) 0%, hsla(204, 73%, 32%, .5) 85%);
	background: -o-linear-gradient(90deg, hsla(204, 73%, 32%, 1) 0%, hsla(204, 73%, 32%, .5) 85%);
	background: linear-gradient(0deg, hsla(204, 73%, 32%, 1) 0%, hsla(204, 73%, 32%, .5) 85%);
}

/* ================================ MAIN ================================ */
.main {
	position: relative;
	padding: 30px 0 17px 30px;
}

/* ================ TOOLBOX-DROPDOWN ============== */
.toolbox {
	z-index: 100;
	position: absolute; /*relative to .main*/
	left: 10px;
	top: 33px;
	width: 250px;
	// text-shadow: 0px 1px hsl(0,0%,40%);
}

.toolbox .pending-icon {
	position: absolute;
	height: 20px;
	line-height: 18px;
	text-align: center;
	width: 20px;
	top: -8px;
	right: -8px;
	font-size: 11px;
	color: white;
	background: url(../images/pending.png) no-repeat;
	background-size: 100% 100%;
}

.toolbox .pending-number {
	position: absolute;
	width: 20px;
	top: 10px;
	right: 25px;
	font-size: 14px;
	letter-spacing: 2px;
	color: white;
	cursor: pointer;
}

.toolbox .exp-trigger {
	display: block;
	height: 46px;
	line-height: 46px;
	border: 1px solid hsl(5, 64%, 43%);
	border-radius: 4px 4px 0 4px;
	box-shadow: 0px 1px 6px 0px hsl(340, 5%, 12%);
	font-size: 20px;
	font-weight: 400;
	background-color: hsl(351, 97%, 25%);
	background: -webkit-gradient(linear, 0 100%, 0 0, from(hsl(351, 97%, 25%)), to(hsl(4, 65%, 44%)));
	background: -webkit-linear-gradient(90deg, hsl(351, 97%, 25%) 0%, hsl(4, 65%, 44%) 100%);
	background: -moz-linear-gradient(90deg, hsl(351, 97%, 25%) 0%, hsl(4, 65%, 44%) 100%);
	background: -o-linear-gradient(90deg, hsl(351, 97%, 25%) 0%, hsl(4, 65%, 44%) 100%);
	background: linear-gradient(0deg, hsl(351, 97%, 25%) 0%, hsl(4, 65%, 44%) 100%);
	color: hsla(0, 0%, 100%, .9);
}

.toolbox .exp-trigger .logo-sm {
	margin: 0 20px -4px 10px;
}

.toolbox .exp-trigger .arrow {
	margin-left: 20px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;	
}

.toolbox .exp-content {
	display: none;
	z-index: 100;
	/*float: right;*/
	right: 0;
	left: auto;
	margin-right: 1px;
	width: 190px;
	padding: 20px 0;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 0 20px hsla(0, 0%, 0%, .5);
	
	background-color: hsl(351, 97%, 25%);
	background: -webkit-gradient(linear, 0 100%, 0 0, from(hsl(351, 97%, 25%)), to(hsl(4, 65%, 44%)));
	background: -webkit-linear-gradient(90deg, hsl(351, 97%, 25%) 0%, hsl(4, 65%, 44%) 100%);
	background: -moz-linear-gradient(90deg, hsl(351, 97%, 25%) 0%, hsl(4, 65%, 44%) 100%);
	background: -o-linear-gradient(90deg, hsl(351, 97%, 25%) 0%, hsl(4, 65%, 44%) 100%);
	background: linear-gradient(0deg, hsl(351, 97%, 25%) 0%, hsl(4, 65%, 44%) 100%);
}

.toolbox .exp-content li.seperator {
	height: 0;
	margin: 6px 0;
	border-bottom: 1px solid hsl(357, 100%, 37%);
	border-top: 1px solid hsl(357, 100%, 29%);
}

.toolbox .exp-content li.sep2 {
	border-bottom: 1px solid hsl(357, 100%, 32%);
	border-top: 1px solid hsl(357, 100%, 24%);
}

.toolbox .exp-content li.manager {
	position: relative;
}

.toolbox .exp-content li a {
	display: block;
	height: 38px;
	line-height: 38px;
	width: 160px;
	margin: 0 auto;
	text-align: center;
	color: hsla(0, 0%, 100%, .9);	
}

.toolbox .exp-content li a:hover {	
	border-radius: 5px;
	box-shadow: inset 0px 2px 10px hsla(0, 0%, 5%, .5);
}

/* ================ MAIN-CONTENT ============== */
/*contains everything but right-sidebar*/
.main-content-w-topbar {
	position: relative; /*to position cart, search, history dropdowns*/
	float: left;
	width: 85%;
	width: calc(100% - 150px);
	width: -webkit-calc(100% - 150px);
	border: 3px solid white;
	box-shadow: 0 0 20px hsl(0,0%,0%);
}

/* ======== TOPBAR ======== */
.topbar {
	background-color: hsla(0, 0%, 44%, .5);
}

.topbar-btn {
	float: right;
	height: 48px;
	border-left: 1px solid hsl(0, 0%, 30%);
	border-right: 1px solid hsl(0, 0%, 47%);
}

.topbar-btn:hover, .topbar-btn.active, .search .exp-content {
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from(hsl(218, 0%, 16%)), to(hsl(205, 0%, 28%)));
	background-image: -webkit-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%);
	background-image: -moz-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%);
	background-image: -o-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%);
	background-image: linear-gradient(0deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%);
}

.topbar input {
	// font-size: 15px;
	color: hsl(0, 0%, 66%);
	background-color: transparent;
}

/* ====== SEARCH & DROPDOWN ====== */
.search {
	display: inline-block;
	width: 60px;
	box-shadow: -1px 0 hsl(0, 0%, 47%);
	text-align: center;
}

.search img {
	height: 30px;
	margin-top: 10px;
}

.search .exp-trigger {
	display: block;
	height: 48px;
}

.search .exp-content {
	z-index: 100;
	display: none;
	position: absolute;
	top: 48px;
	left: -2px;
	width: 264px;
	height: 48px;
	padding-left: 10px;
	border-radius: 0 0 6px 6px;
	border: 1px solid hsl(0, 0%, 66%);
	color: white;
}

/* ====== RECENT-HISTORY & DROPDOWN ====== */
.topbar .recent-vehicles .exp-trigger {
	height: 48px;
	line-height: 48px;
	padding-left: 10px;
	width: 200px;
	background: url('../images/arrow-hollow-down.png') no-repeat 180px 10px;
	cursor: pointer;
}

.topbar .recent-vehicles .exp-trigger.active {
	background: url('../images/arrow-hollow-down.png') no-repeat 180px 10px;
}

.topbar .recent-vehicles .exp-trigger:hover {
	background: url('../images/arrow-hollow-down.png') no-repeat 180px 10px, -webkit-gradient(linear, 0 100%, 0 0, from(hsl(218, 0%, 16%)), to(hsl(205, 0%, 28%))) 0 0;
	background: url('../images/arrow-hollow-down.png') no-repeat 180px 10px, -webkit-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%) 0 0;
	background: url('../images/arrow-hollow-down.png') no-repeat 180px 10px, -moz-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%) 0 0;
	background: url('../images/arrow-hollow-down.png') no-repeat 180px 10px, -o-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%) 0 0;
	background: url('../images/arrow-hollow-down.png') no-repeat 180px 10px, linear-gradient(0deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%) 0 0;
}

.topbar .recent-vehicles .exp-content {
	display: none;
	z-index: 100;
	position: absolute; /*relative to #history-a-vin*/
	top: 48px;
	left: -2px;
	width: 212px;
	border: 1px solid hsl(0, 0%, 66%);
	border-radius: 0 0 6px 6px;
	overflow: hidden;
	background: -webkit-gradient(linear, 0 100%, 0 0, from(hsla(207, 4.6%, 38%, .9)), to(hsla(207, 4.6%, 38%, .9))), url(../images/bg-tweed.png) repeat;
	background: -webkit-linear-gradient(90deg, hsla(207, 4.6%, 38%, .9) 0%, hsla(207, 4.6%, 38%, .9) 100%), url(../images/bg-tweed.png) repeat;
	background: -moz-linear-gradient(90deg, hsla(207, 4.6%, 38%, .9) 0%, hsla(207, 4.6%, 38%, .9) 100%), url(../images/bg-tweed.png) repeat;
	background: -o-linear-gradient(90deg, hsla(207, 4.6%, 38%, .9) 0%, hsla(207, 4.6%, 38%, .9) 100%), url(../images/bg-tweed.png) repeat;
	background: linear-gradient(0deg, hsla(207, 4.6%, 38%, .9) 0%, hsla(207, 4.6%, 38%, .9) 100%), url(../images/bg-tweed.png) repeat;
}

.topbar .recent-vehicles .exp-content li {
	background-clip: content-box;
}

.topbar .recent-vehicles .exp-content li:hover {	
	color: white;	
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from(hsl(218, 0%, 16%)), to(hsl(205, 0%, 28%)));
	background-image: -webkit-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%);
	background-image: -moz-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%);
	background-image: -o-linear-gradient(90deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%);
	background-image: linear-gradient(0deg, hsl(218, 0%, 16%) 0%, hsl(205, 0%, 28%) 100%); 
}

/*cant just use a bottom-border on <a>, bc li background must appear inside border */
.topbar .recent-vehicles .exp-content li.seperator {
	margin: 0 15px;
	height: 1px;
	background-color: hsl(0, 0%, 42%);
}

.topbar .recent-vehicles .exp-content li a {
	display: block;
	height: 48px;
	line-height: 48px;
	margin: 0 15px;
	text-align: left;
	text-indent: 12px;
	color: hsl(0, 0%, 66%);
} 

/* ====== VIN ====== */
.topbar .vin {
	position: relative;
	float: right;
}

.topbar .vin-input {
	height: 48px;
	line-height: 48px;
	padding-left: 50px;
	padding-right: 10px;
	width: 162px;
}

.topbar div.vin-select {
	position: absolute;
	left: 14px;
	top: 11px;
}

/* ====== CART & DROPDOWN ====== */
.cart {
	display: inline-block;
	width: 60px;
	text-align: center;
	border-right: none;
}

.cart img {
	margin-top: 10px;
}

/* ======== MAIN-CONTENT ======== */
.main-content {
	min-height: 460px;
	background-color: hsl(0, 0%, 84%);
}

.content-ext {
	position: absolute; /*relative to right-panel*/
	left: -4px;
	width: 153px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-indent: -18px;
	font-weight: 600;
	color: hsl(2, 66%, 39%);
	background: url(../images/content-ext.png) no-repeat;
}

/* ======== BREADCRUMBS ======== */
.breadcrumbs {
	width: 94%;
	margin: 0 auto;
	padding: 20px 0 7px 0;
}

.category-pg .vehicle-crumbs, .sub-category-pg .vehicle-crumbs, .part-type-pg .vehicle-crumbs, .conditions-pg .vehicle-crumbs, .parts-select-pg .vehicle-crumbs {
	float: right;
	margin-right: 10px;
}

.crumbs-label {
	display: inline-block;
	margin-left: 10px;
	height: 18px;
	line-height: 18px;
	color: hsl(0, 0%, 30%);
}

.category-pg .vehicle-crumbs .crumbs-label, .sub-category-pg .vehicle-crumbs .crumbs-label, .part-type-pg .vehicle-crumbs .crumbs-label, .conditions-pg .vehicle-crumbs .crumbs-label {
	margin-left: 0; /*without this, the float runs out of room!*/
}

.breadcrumbs ul {
	display: inline-block;
	margin-left: 7px;
}

.breadcrumbs li {
	display: inline-block;
	padding-left: 8px;	
}

.breadcrumbs li:after {
	margin-left: 10px;
	content: ">";
	color: hsl(0, 0%, 47%);
}

.breadcrumbs li:last-of-type:after {
	content: "";
}

.breadcrumbs a {
	display: inline-block;	
	height: 18px;
	line-height: 18px;
	padding: 5px 0px;
	color: hsl(218, 65%, 36%);
}

.breadcrumbs a.non-link {
	color: hsl(218, 15%, 60%);
}

/* ================ TABLE ============== */
.main-table-wrapper {
	z-index: 2;
	position: relative; /*adjust shadow up a little*/
	width: 94%;
	margin: 0 auto;
	border: 1px solid hsl(0, 0%, 57%);
	border-radius: 6px;
	overflow: hidden;
	background-clip: padding-box;
}

.main-table {	
	width: 100%;
	border-collapse: collapse;
}

.main-table a {
	display: block;
	height: 56px;
	line-height: 56px;
	color: hsl(0, 0%, 35%);	
}

.main-table tr:nth-of-type(even) {
	background-color: hsl(0, 0%, 96%);
}

.main-table tr:nth-of-type(odd) {
	background-color: hsl(0, 0%, 92%);
}

.main-table a:hover, .main-table a.active {
	box-shadow: inset 0px 0px 2px hsla(0, 0%, 0%, .8);
	color: white;
	background: url(../images/glow-blue.png) no-repeat 50% 0, url(../images/bg-tweed-blue.png);
	background-size: 100% auto, auto auto;
}

.main-table td {
	border: 1px solid hsl(0, 0%, 87%);	
	overflow: hidden;	
	text-align: center;
	font-size: 16px; /*needed to set height of a td element!!?*/	
}

/*======== HEADER-ROW ========*/
.main-table thead tr {
	height: 24px;
	text-transform: uppercase;
	color: hsl(0, 0%, 76%);
	background-image: url(../images/bg-table-header.png);	
}

.main-table th {
	padding: 8px 8px;
	border: none; /*this isnt doing anything. Why aren't there borders in the header area? lines show at different zooms*/
	text-align: left;	
}

.main-table-shadow {
	z-index: 1;
	position: relative;
	top: -2px; /*shadow too intense without this, top hidden behind table*/
	width: 94%;
	margin: 0 auto;
}

/* ======== BUTTONS AROUND TABLE ======= */
/*a.above-table {
	position: relative;
	top: 0px;
	float: right;
	margin: 0 0 15px 20px;
}*/

.below-table-btn {
	float: right;
	margin: 0 3% 15px 0;
}

/* ================ RIGHT-PANEL ============== */
.right-sidebar {
	position: relative; /*position content-ext*/
	float: left; 
	width: 125px;	
	height: 490px;
	margin-top: 20px;
	border-width: 2px 2px 2px 0; 
	border-style: solid;
	border-radius: 0 5px 5px 0;
	color: white;
	background-color: hsla(0, 0%, 44%, .5);
}

.right-sidebar li {
	height: 53px;
	line-height: 53px;
	text-align: center;
}

.right-sidebar li a {
	vertical-align: middle; /*vertical centering*/
	margin: 0 auto;	
}

.right-sidebar li:nth-of-type(n+2) a {
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: white;	
}

.right-sidebar li a.non-link {
	color: hsl(0,0%,70%);
}

.right-sidebar a.start {
	box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, .5);
}

/* ================ MAIN-FOOTER ============== */
.main-footer {
	background: url(../images/bg-header.png) bottom repeat-x;
	font-size: 12px;
}

.main-footer, .main-footer a {
	color: hsl(212, 24%, 70%);
}

.main-footer a:hover {
	color: white;
}

.main-footer .sidekick-online {
	float: left;
	padding: 10px 0 0 20px;
}

.main-footer ul {
	float: right;
	padding: 10px 6px 0 0;
}

/* ================ PER-PAGE ============== */
.year-pg .content-ext {
	top: 42px;	
}
.make-pg .content-ext {
	top: 95px;
}
.model-pg .content-ext {
	top: 148px;	
}
.category-pg .content-ext {
	top: 201px;
}
.sub-category-pg .content-ext {
	top: 254px;
}
.part-type-pg .content-ext {
	top: 307px;
}
.parts-select-pg .content-ext {
	top: 360px;
}

.year-pg .main-table a {
	height: 55px;
	line-height: 55px;
	font-size: 19px;
}
.make-pg .main-table a {
	height: 65px;
	line-height: 65px;
}
.model-pg .main-table a {
	height: 41px;
	line-height: 41px;
}
.category-pg .main-table a {
	height: 41px;
	line-height: 41px;
}
.sub-category-pg .main-table a {
	height: 41px;
	line-height: 41px;
}
.part-type-pg .main-table a {
	height: 41px;
	line-height: 41px;
}

.part-type-pg .rwlb-btn {
	margin-right: 10px;
}

/*finish this*/
@media (max-width: 1250px) {
	.year-pg .main-table a { 
		// font-size: 15px;
	}

}
