/* ================ TABLE ============== */
/*======== GENERAL TD/TR ========*/
.parts-select-filtered-pg2 {

	.main-table td {
		padding: 14px 8px;
		text-align: left;
		font-size: 14px;	
		border: none;
	}

	/*this kind of fix's bottom left corner in Safari*/
	.main-table-wrapper {
		overflow: hidden;	
	}

	.main-table tr:hover:not(.mfr):not(.header-row) {
		background-color: hsla(213, 97%, 85%, .3);
	}

	.main-table tr:active:not(.mfr):not(.header-row) {
		background-color: hsl(213, 97%, 85%);
	}

	/*======== HEADER-ROW ========*/
	.main-table thead tr {
		height: 44px;
		text-transform: uppercase;
		color: hsl(0, 0%, 76%);
		font-size: 14px;
		background-image: url(../images/bg-table-header.png);
		overflow: hidden;	
	}

	.main-table th {
		padding: 8px 8px;
		border: none; /*this isnt doing anything. Why aren't there borders in the header area? lines show at different zooms*/
		text-align: left;
		font-weight: normal;
	}

	.main-table th:first-of-type, .main-table td:first-of-type {
		padding: 0 8px 0 15px;
	}

	/*======== MFR-ROWS ========*/
	.main-table tr.mfr td {
		/*moved below to try and fix Safari*/
		border: none;
		box-shadow: inset 0 0 0 1px hsl(206, 36%, 4%), inset 0 0 0 2px hsl(208, 11%, 36%);
		color: white;
		background: -webkit-gradient(linear, 0 100%, 0 0, from(hsla(0, 0%, 75%, .1)), to(hsla(0, 0%, 75%, .1))), url(../images/bg-table-header.png);
		background: -webkit-linear-gradient(90deg, hsla(0, 0%, 75%, .1) 0%, hsla(0, 0%, 75%, .1) 100%), url(../images/bg-table-header.png);
		background: -moz-linear-gradient(90deg, hsla(0, 0%, 75%, .1) 0%, hsla(0, 0%, 75%, .1) 100%), url(../images/bg-table-header.png);
		background: -o-linear-gradient(90deg, hsla(0, 0%, 75%, .1) 0%, hsla(0, 0%, 75%, .1) 100%), url(../images/bg-table-header.png);
		background: linear-gradient(0deg, hsla(0, 0%, 75%, .5) 0%, hsla(0, 0%, 75%, .1) 100%), url(../images/bg-table-header.png);
	}

	.main-table tr.mfr td {
		height: 24px;
		padding-left: 8px;
	}

	/*======== COLUMN-STYLES ========*/
	.part-description {
		padding-top: 5px;
		font-size: 11px;
	}

	.main-table a.ihlb-btn {
		width: auto;
		height: 23px;
		line-height: 23px;
		color: hsl(218, 65%, 36%);
	}

	.main-table a.ihlb-btn:hover {
		background: none;
		box-shadow: none;
		color: hsl(218, 65%, 36%);
	}

	.qty {
		width: 40px;
		background: transparent;
	}

	/*======== B0TTOM BUTTON ========*/
	.view-cart {		
		float: right;
		margin: 0 3% 15px 0;
	}

	/*======== B0TTOM BUTTON ========*/
	.conditions {
		position: relative; /*adjust shadow up a little*/
		z-index: 2;
		overflow: hidden;
		width: 94%;
		margin: 0 auto;
		border-radius: 7px;
		border: 1px solid hsl(0, 0%, 57%);
		border-top: none;
		background-color: hsl(0, 0%, 96%);
		
		.header {
			height: 44px;
			line-height: 44px;
			padding-left: 15px;
			border-radius: 7px 7px 0 0;		
			overflow: hidden;
			box-shadow: inset 0 0 2px hsl(208, 11%, 46%);
			font-size: 19px;
			color: hsla(0, 0%, 100%, .80);
			// background: -moz-linear-gradient(90deg, hsla(0, 0%, 75%, .1) 0%, hsla(0, 0%, 75%, .1) 100%), url(../images/bg-table-header.png);
			// background: -moz-linear-gradient(90deg, hsla(353, 92%, 36%, .7) 0%, hsla(5, 64%, 36%, .7) 100%), url(../images/bg-table-header.png);
			// background: -moz-linear-gradient(90deg, hsl(357, 77.1084%, 32.5490%) 0%, hsl(357, 77.1084%, 32.5490%) 100%), url(../images/bg-table-header.png);
			// background: -moz-linear-gradient(90deg, hsla(0, 0%, 50%, .5) 0%, hsla(0, 0%, 50%, .5) 100%), url(../images/bg-table-header.png);
			// background: -moz-linear-gradient(90deg, hsla(0, 0%, 75%, .1) 0%, hsla(0, 0%, 75%, .1) 100%), url(../images/bg-table-header.png);
			background-image: url(../images/bg-table-header.png);
		}
		
		.content {
			padding: 15px;
		}

		.condition {	
			float: left;
			margin: 0 auto;
			margin-left: 10px;
		}

		.condition .convex-shadow {
			opacity: .9;
		}

		.condition:first-of-type {
			margin-left: 0;
		}

		.header-area {
			color: hsl(0, 0%, 76%);
		}

		.header-area h3 {
			height: 26px;
			line-height: 26px;
			padding-left: 15px;
			border-radius: 7px 7px 0 0;
			overflow: hidden;
			font-size: 14px;
			font-weight: normal;
			color: hsla(0, 0%, 100%, .9);
			// box-shadow: inset 0 0 0 1px hsl(206, 36%, 4%), inset 0 0 0 2px hsl(208, 11%, 36%);
			box-shadow: inset 0 0 2px hsl(208, 11%, 46%);
			background: -moz-linear-gradient(90deg, hsla(0, 0%, 75%, .1) 0%, hsla(0, 0%, 75%, .1) 100%), url(../images/bg-table-header.png);
			// background: -moz-linear-gradient(90deg, hsla(353, 92%, 26%, .7) 0%, hsla(5, 64%, 43%, .7) 100%), url(../images/bg-table-header.png);
		}

		.options {
			height: 157px;
			padding: 15px;
			border: 1px solid hsl(0, 0%, 57%);
			border-top: none;
			border-radius: 0 0 7px 7px;
			background-color: hsl(0, 0%, 92%);
			color: hsl(0, 0%, 15%);
		}

		.options li {
			padding: 4px 0;
		}

		.options label {
			display: inline-block;
			// margin-top: 3px;
			padding: 3px 0 3px 5px;
		}

	}

}






